.animated {
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

$transform-translate3d: translate3d(0, 20%, 0);
@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: $transform-translate3d;
        transform: $transform-translate3d;
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: $transform-translate3d;
        transform: $transform-translate3d;
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    animation-delay: 0.35s;
}