                /* Large and up */
                
                @media screen and (min-width: 64em) {
                   
                    /* Banner */
                    [role=banner] {
                        height: 500px;
                        background: url('../images/banner-buss.jpg') no-repeat center center;
                        background-size: cover;
                        margin: 4rem 0 0 0;
                        padding: 3.5em 0;
                    }
                    [role=banner] h3 {
                        color: #fff;
                        font-size: 2.8rem;
                        font-weight: 100;
                        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
                    }
                    [role=banner] h3 strong {
                        display: inline-block;
                        font-weight: 500;
                    }
                    /* Footer */
                    footer {
                        p {
                            opacity: 0.8;
                            text-align: right;
                            background: transparent;
                            margin-top: 2.35em;
                            font-size: 0.9rem;
                        }
                        /* hCard */
                        .vcard {
                            font-size: 1rem;
                            .fn,
                            .org {
                                font-size: 1.2rem;
                            }
                            .fa {
                                font-size: 0.9rem;
                            }
                        }
                    }
                }