/* Banner */

[role=banner] {
    height: 30vh;
    background: url('../images/banner-buss-small.jpg') no-repeat center center;
    background-size: cover;
    margin: 4rem 0 0 0;
    padding: 1.5em 0;
    h3 {
        color: #fff;
        font-weight: 100;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
        strong {
            display: block;
        }
    }
}


/* Footer */

footer {
    background: #363535;
    font-size: 0.8rem;
    padding: 1em 0 0 0;
    p {
        background: #313131;
        margin: 0;
        padding: 1.4em 0;
        color: #efefef;
        font-size: 0.75rem;
        font-weight: 400;
        text-align: center;
        a {
            opacity: 0.8;
        }
    }
    a {
        margin-bottom: 10px;
    }
}


/* hCard */

.vcard {
    font-size: 0.9rem;
    line-height: 1.7;
    color: #efefef;
    margin: 1em 0 2em;
    .fn,
    .org {
        font-size: 1rem;
        font-weight: 500;
        color: #efefef;
    }
    a,
    div {
        display: inline-block;
    }
    .adr,
    .email,
    .tel {
        display: block;
    }
    .email span {
        color: #efefef;
        border-bottom: 1px solid #efefef;
    }
    .tel a {
        font-weight: 500;
        color: #efefef;
    }
    .fa {
        font-size: 0.9rem;
        color: #efefef;
        opacity: 0.8;
    }
}